sound_capture/Debug/*
sound_capture/cap_wordcloud/Debug/*
sound_capture/Release/*
sound_capture/cap_wordcloud/Release/*
sound_capture/include/lib/*
sound_capture/ipch/*
*.sdf
*.suo
*.opensdf
build/raw_text.txt
build/text_cache.txt
build/text_feed.txt
build/wordcloud_text.txt