sound_capture/Debug/*
sound_capture/cap_wordcloud/Debug/*
sound_capture/Release/*
sound_capture/cap_wordcloud/Release/*
sound_capture/include/lib/*
sound_capture/ipch/*
sound_capture_loopback/Debug/*
sound_capture_loopback/sound_capture_loopback/Debug/*
*.sdf
*.suo
*.opensdf
build/*.json
build/*.wav
build/raw_text.txt
build/text_cache.txt
build/text_feed.txt
build/wordcloud_text.txt
*.class