sound_capture/Debug/*
sound_capture/cap_wordcloud/Debug/*
sound_capture/Release/*
sound_capture/cap_wordcloud/Release/*
sound_capture/include/lib/*
sound_capture/ipch/*
sound_capture_loopback/Debug/*
sound_capture_loopback/sound_capture_loopback/Debug/*
*.sdf
*.suo
*.opensdf
build/*.json
build/*.wav
*.class
wordcloud_gen/wordcloud_package/build/*
wordcloud_gen/wordcloud_package/wordcloud/*.c